<div class="home-tab">
  <div class="greeting" [ngStyle]="!windowIsNarrow && {'margin-top': '28px'}">
    {{ getTimeOfDay() | translate }}, {{ username }}!
  </div>

    <!-- continue where you left off started -->
  <!-- <div class="continue-where-you-left-off" *ngIf="isNonemptyObject(untrackedTopics) || continueWhereYouLeftOffList.length !== 0"> -->
  <div class="continue-where-you-left-off" *ngIf="continueWhereYouLeftOffList.length !== 0">


    <!-- continue where you left off heading -->
    <p class="continue-where-you-left-off-heading"
       [innerHTML]="'I18N_LEARNER_DASHBOARD_CONTINUE_WHERE_YOU_LEFT_OFF_SECTION' | translate" *ngIf="continueWhereYouLeftOffList.length !== 0">
    </p>

    <!-- Get started -->
    <!-- <p class="continue-where-you-left-off-heading"
       [innerHTML]="'I18N_LEARNER_DASHBOARD_EMPTY_CONTINUE_WHERE_YOU_LEFT_OFF_SECTION_HEADING' | translate"
       *ngIf="continueWhereYouLeftOffList.length === 0">
    </p> -->


    <!-- <div class="empty-continue-where-you-left-off-section" *ngIf="continueWhereYouLeftOffList.length === 0"> -->

      <!-- start learning -->
      <!-- <p [innerHTML]="'I18N_LEARNER_DASHBOARD_EMPTY_CONTINUE_WHERE_YOU_LEFT_OFF_SECTION' | translate" class="empty-continue-where-you-left-off-section-text"> -->
      <!-- </p> -->


      <!-- setting a goal  -->
      <!-- <a id="setting-a-goal-link" (click)="changeActiveSection()"> -->
        <!-- <p [innerHTML]="'I18N_LEARNER_DASHBOARD_EMPTY_CONTINUE_WHERE_YOU_LEFT_OFF_SECTION_SET_A_GOAL' | translate" class="empty-continue-where-you-left-off-section-text"> -->
        <!-- </p>
      </a>
    </div> -->

    <!-- Get started ends -->



    <div class="continue-where-you-left-off-scroll">
      <!-- <div class="continue-where-you-left-off-section" *ngIf="continueWhereYouLeftOffList.length !== 0"
        [ngStyle]="windowIsNarrow && {'width': width + 'px'}"> -->
        <div class="continue-where-you-left-off-section-content">




          <div>
            <h3>In progress</h3>
          <div class="Inprogress" *ngIf="storyInProgress.length !== 0">
            <!-- <div *ngFor="let topicSummaryTile of continueWhereYouLeftOffList" class="topic-summary">
              <div *ngFor="let storySummaryTile of topicSummaryTile.canonicalStorySummaryDicts; let i = index"
                   class="story-summary-tile">
                <oppia-learner-story-summary-tile [storySummary]="storySummaryTile" [displayArea]="'homeTab'"
                  [topicName]="topicSummaryTile.name">
                </oppia-learner-story-summary-tile>
              </div>
            </div> -->

            <div *ngFor="let storySummaryTile of storyInProgress">
              <oppia-learner-story-summary-tile [storySummary]="storySummaryTile.storySummary" [displayArea]="'homeTab'"
                  [topicName]="storySummaryTile.topicName">
                </oppia-learner-story-summary-tile>
            </div>

          </div>
          </div>






        <div>
          <h3>Recommended for you </h3>
          <div class="Recommended" *ngIf="storyInRecommended.length !==0">
            <!-- <div *ngFor="let topicSummaryTile of continueWhereYouLeftOffList" class="topic-summary">
              <div *ngFor="let storySummaryTile of topicSummaryTile.canonicalStorySummaryDicts; let i = index"
                   class="story-summary-tile">
                <oppia-learner-story-summary-tile [storySummary]="storySummaryTile" [displayArea]="'homeTab'"
                  [topicName]="topicSummaryTile.name">
                </oppia-learner-story-summary-tile>
              </div>
            </div> -->

            <div *ngFor="let storySummaryTile of storyInRecommended">
              <oppia-learner-story-summary-tile [storySummary]="storySummaryTile.storySummary" [displayArea]="'homeTab'"
                  [topicName]="storySummaryTile.topicName">
                </oppia-learner-story-summary-tile>
            </div>
          </div>
        </div>







        </div>
      <!-- </div> -->
    </div>
  </div>
<!-- continue where you left off ends -->

<!-- learn some thing new started -->
  <div class="suggested-for-you e2e-test-suggested-for-you" *ngIf="isNonemptyObject(untrackedTopics) && !isGoalLimitReached()">
    <p class="suggested-for-you-heading" [innerHTML]="'I18N_LEARNER_DASHBOARD_LEARN_SOMETHING_NEW_SECTION' | translate">
    </p>
    <div class="suggested-for-you-section">
      <div *ngFor="let item of untrackedTopics | keyvalue" class="untracked-topics">
        <div *ngIf="item.value.length !== 0" class="classroom-name">
          <span [innerHTML]="'I18N_TOPIC_AVAILABLE_IN_OPPIA_CLASSROOM' | translate"></span>
        </div>
        <hr>
        <div class="topic-summary-tile-scroll">
          <div class="topic-summary-tile-section d-flex"
            [ngStyle]="windowIsNarrow && {'width': getWidth(item.value.length) + 'px'}">
            <div *ngFor="let topicSummaryTile of item.value" class="topic-summary-tile">
              <oppia-learner-topic-summary-tile [topicSummary]="topicSummaryTile">
              </oppia-learner-topic-summary-tile>
            </div>
          </div>
        </div>
        <a [href]="getClassroomLink(item.key)" target="{{ openInNewWindow ? '_blank' : '_self' }}"
           class="oppia-classroom-link">
          <div class="classroom-button">
            <p class="classroom-text">
              <i class="fas fa-regular fa-arrow-right rightarrow" ></i>
              <span [innerHTML]="'I18N_VIEW_ALL_TOPICS' | translate: {classroomName: item.key}"></span>
            </p>
          </div>
        </a>
      </div>
    </div>

<!-- Lesson saved for later start -->

<div class="playlist-section e2e-test-play-later-section">
  <h1 [ngClass]="{'oppia-force-right-align': isLanguageRTL()}" class="lessons-title" [innerHTML]="'I18N_LEARNER_DASHBOARD_PLAYLIST_SECTION' | translate">
  </h1>

 <!-- <div *ngIf="noPlaylistActivity">
    <h2 [innerHTML]="'I18N_LEARNER_DASHBOARD_EMPTY_EXPLORATION_PLAYLIST' | translate" class="empty-section"></h2>
    <a class="btn oppia-dashboard-intro-button oppia-transition-200 oppia-learner-dashboard-nonexistent-exploration"
       [innerHTML]="'I18N_ACTION_BROWSE_LESSONS' | translate"
       href="/community-library"
       [smartRouterLink]="communityLibraryUrl">
    </a>
  </div> -->



  <!-- <div *ngIf="windowIsNarrow && displayLessonsInPlaylist.length !== 0">
    <div class="pagination">
      <i class="fa fa-angle-left pagination-arrow" aria-label="Previous Page"
         (click)="changePageByOne(moveToPrevPage, 'playlist')">
      </i>
      <span class="pagination-dot">
        <span class="pagination-number">
          {{pageNumberInPlaylist}}
        </span>
      </span>
      <i class="fa fa-angle-right pagination-arrow" aria-label="Next Page"
         (click)="changePageByOne(moveToNextPage, 'playlist')">
      </i>
    </div>
  </div> -->



  <div *ngIf="totalLessonsInPlaylist.length !== 0">
    <div class="summary-container">
      <div *ngFor="let summaryTile of displayLessonsInPlaylist.slice(startIndexInPlaylist, endIndexInPlaylist)"
           class="oppia-summary-tile-container"
           (mouseenter)="summaryTile.toggle = !summaryTile.toggle"
           (mouseleave)="summaryTile.toggle = !summaryTile.toggle">
        <div *ngIf="getTileType(summaryTile) === 'exploration'">
          <i class="remove-icon fa fa-times"
             *ngIf="summaryTile.toggle || windowIsNarrow"
             aria-hidden="true"
             (click)="openRemoveActivityModal('I18N_LEARNER_DASHBOARD_PLAYLIST_SECTION', 'I18N_DASHBOARD_EXPLORATIONS', summaryTile)"
             ngbTooltip="Remove"
             container="body"
             placement="top">
          </i>
          <oppia-exploration-summary-tile [explorationId]="summaryTile.id"
                                          [explorationTitle]="summaryTile.title"
                                          [lastUpdatedMsec]="summaryTile.lastUpdatedMsec"
                                          [objective]="summaryTile.objective"
                                          [category]="summaryTile.category"
                                          [ratings]="summaryTile.ratings"
                                          [numViews]="summaryTile.numViews"
                                          [thumbnailIconUrl]="summaryTile.thumbnailIconUrl"
                                          [thumbnailBgColor]="summaryTile.thumbnailBgColor">
          </oppia-exploration-summary-tile>
        </div>
        <div *ngIf="getTileType(summaryTile) === 'collection'">
          <i class="remove-icon fa fa-times"
             *ngIf="summaryTile.toggle || windowIsNarrow"
             aria-hidden="true"
             (click)="openRemoveActivityModal('I18N_LEARNER_DASHBOARD_PLAYLIST_SECTION', 'I18N_DASHBOARD_COLLECTIONS', summaryTile)"
             ngbTooltip="Remove"
             container="body"
             placement="top">
          </i>
          <oppia-collection-summary-tile [getCollectionId]="summaryTile.id"
                                         [getCollectionTitle]="summaryTile.title"
                                         [getLastUpdatedMsec]="summaryTile.lastUpdatedMsec"
                                         [getObjective]="summaryTile.objective"
                                         [getNodeCount]="summaryTile.nodeCount"
                                         [getCategory]="summaryTile.category"
                                         [getThumbnailIconUrl]="summaryTile.thumbnailIconUrl"
                                         [getThumbnailBgColor]="summaryTile.thumbnailBgColor">
          </oppia-collection-summary-tile>
        </div>
      </div>


      <!-- <div *ngIf="windowIsNarrow && displayLessonsInPlaylist.length !== 0">
        <div class="pagination-bottom">
          <i class="fa fa-angle-left pagination-arrow" aria-label="Previous Page"
             (click)="changePageByOne(moveToPrevPage, 'playlist')">
          </i>
          <span class="pagination-dot">
            <span class="pagination-number">
              {{pageNumberInPlaylist}}
            </span>
          </span>
          <i class="fa fa-angle-right pagination-arrow" aria-label="Next Page"
             (click)="changePageByOne(moveToNextPage, 'playlist')">
          </i>
        </div>
      </div> -->


      <div class="oppia-toggle-button-section" *ngIf="totalLessonsInPlaylist.length > 3">
        <button class="btn oppia-toggle-btn"
                (click)="handleShowMore('playlist')"
                *ngIf="!showMoreInSection['playlist']">
          <span>{{ 'I18N_SHOW_MORE' | translate }}</span>
        </button>
        <button class="btn oppia-toggle-btn"
                (click)="handleShowMore('playlist')"
                *ngIf="showMoreInSection['playlist']">
          <span>{{ 'I18N_SHOW_LESS' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</div>



  </div>

  <!-- learn some thing new ends -->

  <!-- if learnsome thing new have no topics  -->
  <!-- <div class="empty-suggested-for-you"
       *ngIf="isGoalLimitReached()">
    <p class="suggested-for-you-heading" [innerHTML]="'I18N_LEARNER_DASHBOARD_LEARN_SOMETHING_NEW_SECTION' | translate"></p>
    <p [innerHTML]="'I18N_LEARNER_DASHBOARD_EMPTY_LEARN_SOMETHING_NEW_SECTION' | translate" class="mt-4"></p>
    <a class="btn oppia-dashboard-intro-button oppia-transition-200 oppia-learner-dashboard-intro-button-link"
       [innerHTML]="'I18N_ACTION_BROWSE_LESSONS' | translate"
       href="/community-library"
       [smartRouterLink]="communityLibraryUrl"
       [oppiaFocusOn]="'ourLessonsBtn'">
    </a>
  </div> -->


<!-- Learn some thing div  -->
  <!-- <div class="empty-suggested-for-you learn-something-new-section"
       *ngIf="!isNonemptyObject(untrackedTopics) && continueWhereYouLeftOffList.length === 0">

    //learn some thing new heading
    <p class="suggested-for-you-heading" [innerHTML]="'I18N_LEARNER_DASHBOARD_LEARN_SOMETHING_NEW_SECTION' | translate">
    </p>

    //wow you have completed .....
    <div class="empty-suggested-for-you-section">
      <p [innerHTML]="'I18N_LEARNER_DASHBOARD_EMPTY_SUGGESTED_FOR_YOU_SECTION' | translate">
      </p>
    </div>
  </div> -->


</div>
